.relative {
    position: relative; /* Ensures the button is positioned correctly for the arrow effect */
  }
  
  .btn-style-primary {
    background: #ff6130; /* Custom background color */
    border: none; /* Remove border */
  }
  
  img {
    transition: transform 0.2s ease; /* Smooth transition for the arrow */
  }
  